@import '../../../styles/settings.scss';

.root {
  width: 50%;
  margin: auto;
  text-align: center;

  .changesForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #a7a7a7 solid;
    border-radius: 5px;
    padding: 20px 0;
    background-color: #FAFAF1;

    .formInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 20px 0;

      input, textarea {
        width: 80%;
      }
    }
  }

  button{
    a {
    text-decoration: none;
    }   
  }
}